/* ================= $body and float =============
================================================== */

html{
	background-image: url("../images/green_cup.png");
	background-color: #eeeeee;
}

body{
	width:960px;
	background-color:#AD2C23;
	margin: 20px auto;
	font-family: arial, verdana, sans-serif;
	font-size:62.5%; /* 10px*/
	box-shadow: 0px 0px 5px 0px #000000;
}

header{
	 width:100%;
}

article{
	width: 100%;
	margin:0;
}

.float_left{
	float: left;
}

.clear{
	clear: both;
}

/* ================= $headings =============
============================================ */


h1{
	text-align: center;
	padding:10px 0 0px;
	margin: 2%;
	font-size:4em;
	color: white;
}

h2{
	font-size:3.2em;
	text-align: center;
	margin: 5px 5px 5px;
	color: #368A36;
}

h3{
	font-size:2.6em;
	color: #368A36;
}

#picture{
	background: white;
	position: absolute;
	top:65.2%; /* 61.5px */
	left:1.7%;
	width:96.9%;
	height: 10%;
	background: #AD2C23;
	color:black;
	text-align: center;
	padding:0;
	opacity:0;
	-moz-transition: all 4s ease-out;
	-webkit-transition: all 4s ease-out;
	-o-transition: all 4s ease-out;
	transition: all 4s ease-out;
}

#picture h3 {
	margin:2% 0 0;
	color: white;
}


p{
	font-size: 1.6em;
	margin: 0 3.636363636%; /* 10px */
	color:#AD2C23;
}

/* ================= $div IDs =============
=========================================== */

#side_text{
	background: white;
	width:30.353200883%; /* 275px; */
	padding: 1.041666666% 1.041666666% 6px; /* 10px */
	margin:  10px 1.041666666% 2.083333333% 10px; /* 20px */
	box-shadow: 0px 0px 7px #000000;
	float: left;
}

#pic{

	background: white;
	width:60.843333333%;/*  575px */
	position: relative;
	padding: 1.041666666%; /* 10px */
	margin: 1.041666666% 1.041666666% 2.083333333% 1.041666666% /* 20px */;
	box-shadow: 0px 0px 7px #000000;
	float: right;
}


#thumbnails{
	background: white;;
	width: 920px;
	margin: 10px auto;
	padding: 1.041666666%; /* 10px */
	text-align: center;
	box-shadow: 0px 0px 7px #000000;
	clear:both;
}

/* ================= $images =============
========================================== */
 
#pic img[src$="large_pic.jpg"]{
	width: 100%;
	display: block;
	margin: 0 auto 3px;
	border: 1px solid white;
}


#thumbnails img{
	width: 15.98333333%;
	border: 1px solid white;
	margin-right: .15625%; /* 1.5px */
	box-shadow: 0px 0px 5px 1px #000;
	opacity:.7;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	background: white;
}

/* ================= $transforms =============
============================================== */

#large_pic{
	-moz-transition: background 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	-moz-transition-delay: .5s;
	-webkit-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}

#large_pic:hover #picture{
	opacity:1;
	-moz-transform: translate(0, 120px);
	-o-transform: translate(0, 120px);
	-webkit-transform: translate(0, 120px);
	transform: translate(0, 120px);
}



#thumbnails img{
	position: relative;
	z-index: 0;
}

#thumbnails img:nth-child(even):hover{
	box-shadow: 0 0 7px 2px #000;
	opacity: 2;
	-moz-transform-origin: bottom;
	-webkit-transform-origin: bottom;
	-o-transform-origin: bottom;
	transform-origin: bottom;
	-moz-transform: scale(1.07); 
	-webkit-transform: scale(1.07);
	-o-transform: scale(1.07); 
	transform: scale(1.07); 
	position:relative;
	z-index: 1;
	-webkit-z-index:3;
}

#thumbnails img:nth-child(odd):hover{
	box-shadow: 0 0 7px 2px #000;
	opacity: 1;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
	position:relative;
	z-index:1;
	-webkit-z-index:2;
}


/* ================= $media queries =============
================================================= */


@media screen and (min-width:567px) and (max-width:960px){

body{
	width: 90%;
	margin: 20px auto;
} 

h1{
	font-size: 3.2em;
}

#picture{
	left:1.1%;
	padding-right:1%;
}

#side_text{
	background-color: white;
	width:95.503333333%; /* 920/960 */
	padding: 1.041666666% 1.041666666% 6px; /* 10px */
	margin:  10px 1.041666666% 20px; /* 20px */
	border: 1px solid black;
}

#large_pic img{
	width: 100%;
}

#pic{
	width:95.503333333%; /* 920/960 */
	padding: 1.041666666%; /* 10px */
	margin: 10px 1.041666666%; /* 20px */
	border: 1px solid black;
	clear:both;
}
#picture{
	left:1.1%;
	padding-right:1%;
}

#thumbnails{
	width:95.503333333%; /* 920/960 */
	margin: 10px auto;
	border: 1px solid black;
	padding: 1.041666666%; /* 10px */
	clear:both;
}

#thumbnails img{
	width: 27.4%;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
}

#pic #picture{
	opacity: 1;
	top: 88.5%;
}


#pic:hover #label{
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}

}

/* ======== $media queries: mobile portrait and landscape =============
======================================================================= */


@media screen and (min-width:400px) and (max-width: 567px){

body{
	width: 100%;
	margin: 0 auto;
} 

h1{
	font-size: 2.6em;
	margin: 0 10px;
}


#pic{
	width:95.503333333%; /* 920/960 */
	padding: 1.041666666%; /* 10px */
	margin: 10px 1.041666666%; /* 20px */
	border: 1px solid black;
	clear:both;
}

#large_pic img{
	width: 100%;
}

#side_text{
	display: none;

}

#picture{
	left:1.1%;
	padding-right:1%;
}

#thumbnails{
	width:95.503333333%; /* 920/960 */
	margin: 10px auto;
	border: 1px solid black;
	padding: 1.041666666%; /* 10px */
	clear:both;
}

#thumbnails img{
	width: 43%;
	border: 1px solid white;
	padding: 1.234567901%; /* 5px */
	margin: .3%; /* 5px */
}


#thumbnails img:nth-child(odd):hover{
	box-shadow: 0 0 7px 2px #000;
	opacity: 1;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
	-moz-transform: scale(1.07,1.07); 
	-webkit-transform: scale(1.07,1.07); 
	-o-transform: scale(1.07,1.07); 
	transform: scale(1.07,1.07); 
 
	z-index: 1;
}


}

/* ================= $media queries: mobile portrait =============
================================================================== */

@media screen and (max-width:399px) (min-width:200px){



body{
	width: 100%;
	margin: 0 auto;
} 

h1{
	font-size: 2.6em;
	margin: 0 10px;
}

#side_text{
	display: none;

}

#pic{
	width:95.503333333%; /* 920/960 */
	padding: 1.041666666%; /* 10px */
	margin: 10px 1.041666666%; /* 20px */
	border: 1px solid black;
	clear:both;
}


#large_pic img{
	width: 100%;
}


#thumbnails{
	width:95.503333333%; /* 920/960 */
	margin: 10px auto;
	border: 1px solid black;
	padding: 1.041666666%; /* 10px */
	clear:both;
}

#thumbnails img{
	width: 43%;
	border: 1px solid white;
	padding: 1.234567901%; /* 5px */
	margin: .3%; /* 5px */
}


#thumbnails img:nth-child(odd):hover{
	box-shadow: 0 0 7px 2px #000;
	opacity: 1;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);


    -moz-transform: scale(1.07,1.07); 
	-webkit-transform: scale(1.07,1.07); 
	-o-transform: scale(1.07,1.07); 
	transform: scale(1.07,1.07); 
	z-index: 1;
}

}
